/*======================================
=            buttons styles            =
======================================*/


.btn-primary {
	width: 100%;
	height: 50px;
	padding: 2px;
	background-color: #202121;
	color: $color-light-text;
	text-transform: uppercase;
	font-family: $font-1;
	font-size: 1rem;
	text-shadow: 0px 1px 0px $color-light-text;
	border-radius: 7px;

	outline: none;
	box-shadow:none;

	&:hover {
		color: $color-nav-link-hover;
	}
}
.btn-primary-album {
	width: 60%;
	padding: 2px;
	background-color: #202121;
	color: $color-light-text;
	text-transform: uppercase;
	font-family: $font-1;
	font-size: 0.8rem;
	text-shadow: 0px 1px 0px $color-light-text;
	border-radius: 7px;

	outline: none;
	box-shadow:none;

	&:hover {
		color: $color-nav-link-hover;
	}
}
.btn-primary-small {
	width: 15%;
	padding: 2px;
	background-color: #202121;
	color: $color-light-text;
	text-transform: uppercase;
	font-family: $font-1;
	font-size: 1rem;
	text-shadow: 0px 1px 0px $color-light-text;
	border-radius: 7px;

	outline: none;
	box-shadow:none;

	&:hover {
		color: $color-nav-link-hover;
	}
}

.exit {
	margin: 1em auto;
	display: block;
	width: 10%;
}






